
.cadastroCaminhao{
    background-color: brown;
    margin-top: 5%;
    padding: 3%;
    margin-left: 35%;
    width: 400px;
    border-radius: 5%;
}



.titulo {
    margin-top: 5%;
    margin-bottom: 5%;
}


.formulario {
    margin: 5%;
    margin-top: 7%;
}